{% extends "base/blank.html" %}

{% load account socialaccount %}
{% load static %}
{% load floppyforms %}

{% block css %}
  {{ block.super }}
    <link href="{% static "base/icons/font-awesome-4.5.0/css/font-awesome.css" %}" rel="stylesheet">
    <link class="main-stylesheet" href="{% static "accounts/css/login.css" %}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
{% get_providers as socialaccount_providers %}

<div class="container">
    <div class="card card-container">
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

        <form class="form-horizontal" method="post" action="{% url "account_login" %}">
            {% csrf_token %}
            {% form form using "floppyforms/layouts/pier/login.html" %}

            <div class="form-group">
                <!-- Button -->
                <div class="col-sm-8">
                  <p>
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                  </p>
                </div>
                <div class="col-sm-4 controls">
                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Sign in</button>
                </div>
            </div>
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
{% endblock content %}
