{% extends "account/base.html" %}

{% load account %}

{% block nav_style %}
<nav class="header dark" data-pages="header">
{% endblock nav_style %}

{% block content %}
  <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-smile-o"></i> Almost done</h1>

        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>We've sent you an email with a link to create a new password. If you don't receive
        it in the next couple of minutes please check your spam folder.</p>
      </div>
    </div>
  </section>
{% endblock %}
