{% extends "account/base.html" %}


{% block nav_style %}
<nav class="header dark" data-pages="header">
{% endblock nav_style %}

{% block content %}
  <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-smile-o"></i> Your password has been reset</h1>
        <p>You can give it a try by <a href="{% url "account_login" %}">signing into your account</a>.</p>
      </div>
    </div>
  </section>
{% endblock %}
