{% extends "account/base.html" %}

{% load account %}
{% load floppyforms %}

{% block nav_style %}
<nav class="header dark" data-pages="header">
{% endblock nav_style %}

{% block content %}
  <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
    <div class="row">
      <div class="col-md-6">
        <h1>Password Reset</h1>
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="semi-bold">Forgotten your password? Don't worry everyone does at least once. We can't tell you what it was, as we never store your password. But if you enter your email below we can send you a link which will let you create a new one.</p>

        <p>If you're still having trouble accessing your account after you reset your password <a href="mailto:support@glasgow.gov.uk?subject=Forgotten password help">email our support team</a></p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {% form form %}
            <div class="sm-p-t-10 clearfix">
                <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Reset password</button>
            </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
