{% extends "socialaccount/base.html" %}

{% load floppyforms %}

{% block nav_style %}
<nav class="header dark" data-pages="header">
{% endblock nav_style %}

{% block content %}
  <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
    <div class="row">
      <div class="col-md-6">
        <h1>Final step</h1>
        <p class="semi-bold">{% with provider_name=account.get_provider.name site_name=site.name %}
        You are about to use your {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endwith %}</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
          {% csrf_token %}
          {% form form %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="sm-p-t-10 clearfix">
            <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Finish sign-up</button>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
