{% extends "collection/base.html" %}

{% block nav_style %}
<nav class="header dark" data-pages="header">
{% endblock nav_style %}

{% block content %}
  <section class="container container-fixed-lg p-t-65 p-b-100  sm-p-b-30 sm-m-b-30">
    <div class="row">
      <div class="col-md-6">
        <h2>Your notifications</h2>
        {% for notice in notifications %}
          {% include 'notifications/notice.html' %}
        {% endfor %}

        <a href="{% url "notifications:mark_all_as_read" %}" class="btn btn-complete">Mark all as read</a>
      </div>
    </div>
  </section>
  <!-- END CONTACT SECION -->
{% endblock %}