{% load staticfiles %}
{% load activeurl %}
{% load floppyforms %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" href="{% static "base/ico/60.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "base/ico/76.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "base/ico/120.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "base/ico/152.png" %}">
    <link rel="icon" type="image/x-icon" href="{% static "base/ico/favicon.ico" %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {% include 'meta.html' %}
    <meta name="author" content="Aaron Bassett <aaron@rawtech.io>">

    {% block css %}
    <!-- BEGIN PLUGINS -->
    <link href="{% static "base/plugins/pace/pace-theme-flash.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "base/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "base/plugins/font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">
    <!-- END PLUGINS -->
    {% endblock css %}

  </head>
  <body class="pace-primary">

    {% block content %}{% endblock content %}

    {% block javascript %}
    <!-- BEGIN VENDOR JS -->
    <script src="{% static "base/plugins/pace/pace.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "base/plugins/jquery/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock javascript %}

  </body>
</html>